.modal-body {
    max-height: 900px;
}

#profileModal {
    width: 1200px;
}

.modal-dialog {
    margin-left: 10%;
    margin-right: 90%;
    
}


.modal-content {
    min-width: 900px;
}


.profSocialWrapper {
    margin-top: 70px;
}

