.patronImg {
	margin-top: -15px;
}

.friendCardDiv {
    max-height: 900px;
    overflow: scroll
}

.friendCard {
    height: 400px;
    overflow: scroll;
    margin-left: 45px;
}

.profilePic {
    height: 100%;
	width: 100%;
}