.patronImg {
	margin-top: -15px;
}

.friendCardDiv {
    max-height: 600px;
    overflow: scroll
}

.friendCard {
    height: 300px;
    overflow: scroll;
    margin-left: 42px;
}

.profilePic {
    height: 100%;
    width: 100%;
   
}

